@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Livvic:300,400,400i,500&display=swap");
@keyframes loading {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1200%); } }

@keyframes stackSlide {
  from {
    right: -100%; }
  to {
    right: 0; } }

@keyframes SlideMenu {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes moveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes moveUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1440px) {
    html {
      font-size: 59.375%; } }

body {
  box-sizing: border-box;
  background-color: #f9fafc; }

::selection {
  color: #fff;
  background-color: #1c9bae; }

img {
  max-width: 100%; }

a {
  color: #1c9bae;
  transition: all 400ms ease-out; }
  a:hover {
    text-decoration: none; }

hr {
  margin: 2rem 0;
  border-color: #cacaca; }
  hr.darkBorder {
    border-color: #999; }
  hr.extraSpace {
    margin: 4rem 0; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.margin-top-0 {
  margin-top: 0    !important; }

.margin-top-5 {
  margin-top: .5rem  !important; }

.margin-top-10 {
  margin-top: 1rem !important; }

.margin-top-15 {
  margin-top: 1.5rem !important; }

.margin-top-20 {
  margin-top: 2rem !important; }

.margin-top-25 {
  margin-top: 2.5rem !important; }

.margin-top-30 {
  margin-top: 3rem !important; }

.margin-top-35 {
  margin-top: 3.5rem !important; }

.margin-top-40 {
  margin-top: 4rem !important; }

.margin-top-45 {
  margin-top: 4.5rem !important; }

.margin-top-50 {
  margin-top: 5rem !important; }

.margin-top-55 {
  margin-top: 5.5rem !important; }

.margin-top-60 {
  margin-top: 6rem !important; }

.margin-top-65 {
  margin-top: 6.5rem !important; }

.margin-top-70 {
  margin-top: 7rem !important; }

.margin-top-75 {
  margin-top: 7.5rem !important; }

.margin-top-80 {
  margin-top: 8rem !important; }

.margin-left-0 {
  margin-left: 0 !important; }

.margin-left-5 {
  margin-left: .5rem !important; }

.margin-left-10 {
  margin-left: 1rem !important; }

.margin-left-15 {
  margin-left: 1.5rem !important; }

.margin-left-20 {
  margin-left: 2rem !important; }

.margin-left-25 {
  margin-left: 2.5rem !important; }

.margin-left-30 {
  margin-left: 3rem !important; }

.margin-left-35 {
  margin-left: 3.5rem !important; }

.margin-left-40 {
  margin-left: 4rem !important; }

.margin-left-45 {
  margin-left: 4.5rem !important; }

.margin-left-50 {
  margin-left: 5rem !important; }

.margin-left-55 {
  margin-left: 5.5rem !important; }

.margin-left-60 {
  margin-left: 6rem !important; }

.margin-left-65 {
  margin-left: 6.5rem !important; }

.margin-left-70 {
  margin-left: 7rem !important; }

.margin-left-75 {
  margin-left: 7.5rem !important; }

.margin-left-80 {
  margin-left: 8rem !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-5 {
  margin-bottom: .5rem !important; }

.margin-bottom-10 {
  margin-bottom: 1rem !important; }

.margin-bottom-15 {
  margin-bottom: 1.5rem !important; }

.margin-bottom-20 {
  margin-bottom: 2rem !important; }

.margin-bottom-25 {
  margin-bottom: 2.5rem !important; }

.margin-bottom-30 {
  margin-bottom: 3rem !important; }

.margin-bottom-35 {
  margin-bottom: 3.5rem !important; }

.margin-bottom-40 {
  margin-bottom: 4rem !important; }

.margin-bottom-45 {
  margin-bottom: 4.5rem !important; }

.margin-bottom-50 {
  margin-bottom: 5rem !important; }

.margin-bottom-55 {
  margin-bottom: 5.5rem !important; }

.margin-bottom-60 {
  margin-bottom: 6rem !important; }

.margin-bottom-65 {
  margin-bottom: 6.5rem !important; }

.margin-bottom-70 {
  margin-bottom: 7rem !important; }

.margin-bottom-75 {
  margin-bottom: 7.5rem !important; }

.margin-bottom-80 {
  margin-bottom: 8rem !important; }

.margin-right-0 {
  margin-right: 0 !important; }

.margin-right-5 {
  margin-right: .5rem !important; }

.margin-right-10 {
  margin-right: 1rem !important; }

.margin-right-15 {
  margin-right: 1.5rem !important; }

.margin-right-20 {
  margin-right: 2rem !important; }

.margin-right-25 {
  margin-right: 2.5rem !important; }

.margin-right-30 {
  margin-right: 3rem !important; }

.margin-right-35 {
  margin-right: 3.5rem !important; }

.margin-right-40 {
  margin-right: 4rem !important; }

.margin-right-45 {
  margin-right: 4.5rem !important; }

.margin-right-50 {
  margin-right: 5rem !important; }

.margin-right-55 {
  margin-right: 5.5rem !important; }

.margin-right-60 {
  margin-right: 6rem !important; }

.margin-right-65 {
  margin-right: 6.5rem !important; }

.margin-right-70 {
  margin-right: 7rem !important; }

.margin-right-75 {
  margin-right: 7.5rem !important; }

.margin-right-80 {
  margin-right: 8rem !important; }

.padding-top-0 {
  padding-top: 0 !important; }

.padding-top-5 {
  padding-top: .5rem !important; }

.padding-top-10 {
  padding-top: 1rem !important; }

.padding-top-15 {
  padding-top: 1.5rem !important; }

.padding-top-20 {
  padding-top: 2rem !important; }

.padding-top-25 {
  padding-top: 2.5rem !important; }

.padding-top-30 {
  padding-top: 3rem !important; }

.padding-top-35 {
  padding-top: 3.5rem !important; }

.padding-top-40 {
  padding-top: 4rem !important; }

.padding-top-45 {
  padding-top: 4.5rem !important; }

.padding-top-50 {
  padding-top: 5rem !important; }

.padding-top-55 {
  padding-top: 5.5rem !important; }

.padding-top-60 {
  padding-top: 6rem !important; }

.padding-top-65 {
  padding-top: 6.5rem !important; }

.padding-top-70 {
  padding-top: 7rem !important; }

.padding-top-75 {
  padding-top: 7.5rem !important; }

.padding-top-80 {
  padding-top: 8rem !important; }

.padding-left-0 {
  padding-left: 0 !important; }

.padding-left-5 {
  padding-left: .5rem !important; }

.padding-left-10 {
  padding-left: 1rem !important; }

.padding-left-15 {
  padding-left: 1.5rem !important; }

.padding-left-20 {
  padding-left: 2rem !important; }

.padding-left-25 {
  padding-left: 2.5rem !important; }

.padding-left-30 {
  padding-left: 3rem !important; }

.padding-left-35 {
  padding-left: 3.5rem !important; }

.padding-left-40 {
  padding-left: 4rem !important; }

.padding-left-45 {
  padding-left: 4.5rem !important; }

.padding-left-50 {
  padding-left: 5rem !important; }

.padding-left-55 {
  padding-left: 5.5rem !important; }

.padding-left-60 {
  padding-left: 6rem !important; }

.padding-left-65 {
  padding-left: 6.5rem !important; }

.padding-left-70 {
  padding-left: 7rem !important; }

.padding-left-75 {
  padding-left: 7.5rem !important; }

.padding-left-80 {
  padding-left: 8rem !important; }

.padding-bottom-0 {
  padding-bottom: 0 !important; }

.padding-bottom-5 {
  padding-bottom: .5rem !important; }

.padding-bottom-10 {
  padding-bottom: 1rem !important; }

.padding-bottom-15 {
  padding-bottom: 1.5rem !important; }

.padding-bottom-20 {
  padding-bottom: 2rem !important; }

.padding-bottom-25 {
  padding-bottom: 2.5rem !important; }

.padding-bottom-30 {
  padding-bottom: 3rem !important; }

.padding-bottom-35 {
  padding-bottom: 3.5rem !important; }

.padding-bottom-40 {
  padding-bottom: 4rem !important; }

.padding-bottom-45 {
  padding-bottom: 4.5rem !important; }

.padding-bottom-50 {
  padding-bottom: 5rem !important; }

.padding-bottom-55 {
  padding-bottom: 5.5rem !important; }

.padding-bottom-60 {
  padding-bottom: 6rem !important; }

.padding-bottom-65 {
  padding-bottom: 6.5rem !important; }

.padding-bottom-70 {
  padding-bottom: 7rem !important; }

.padding-bottom-75 {
  padding-bottom: 7.5rem !important; }

.padding-bottom-80 {
  padding-bottom: 8rem !important; }

.padding-right-0 {
  padding-right: 0 !important; }

.padding-right-5 {
  padding-right: .5rem !important; }

.padding-right-10 {
  padding-right: 1rem !important; }

.padding-right-15 {
  padding-right: 1.5rem !important; }

.padding-right-20 {
  padding-right: 2rem !important; }

.padding-right-25 {
  padding-right: 2.5rem !important; }

.padding-right-30 {
  padding-right: 3rem !important; }

.padding-right-35 {
  padding-right: 3.5rem !important; }

.padding-right-40 {
  padding-right: 4rem !important; }

.padding-right-45 {
  padding-right: 4.5rem !important; }

.padding-right-50 {
  padding-right: 5rem !important; }

.padding-right-55 {
  padding-right: 5.5rem !important; }

.padding-right-60 {
  padding-right: 6rem !important; }

.padding-right-65 {
  padding-right: 6.5rem !important; }

.padding-right-70 {
  padding-right: 7rem !important; }

.padding-right-75 {
  padding-right: 7.5rem !important; }

.padding-right-80 {
  padding-right: 8rem !important; }

.width10 {
  width: 10%; }

.width15 {
  width: 15%; }

.width20 {
  width: 20%; }

.width25 {
  width: 25%; }

.width30 {
  width: 30%; }

.width35 {
  width: 35%; }

.width40 {
  width: 40%; }

.width45 {
  width: 45%; }

.width50 {
  width: 50%; }

.width55 {
  width: 55%; }

.width60 {
  width: 60%; }

.width65 {
  width: 65%; }

.width70 {
  width: 70%; }

.width75 {
  width: 75%; }

.width80 {
  width: 80%; }

.width85 {
  width: 85%; }

.width90 {
  width: 90%; }

.width95 {
  width: 95%; }

.width100 {
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 2rem;
  line-height: 1.2;
  color: #333; }
  h1.reverse, h2.reverse, h3.reverse, h4.reverse, h5.reverse, h6.reverse {
    font-weight: 300; }
  h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
    font-weight: normal; }
  h1.semi, h2.semi, h3.semi, h4.semi, h5.semi, h6.semi {
    font-weight: 500; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
    font-weight: 700; }
  h1.black, h2.black, h3.black, h4.black, h5.black, h6.black {
    font-weight: 900; }
  h1.capitalize, h2.capitalize, h3.capitalize, h4.capitalize, h5.capitalize, h6.capitalize {
    text-transform: capitalize; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
    color: #fff; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #333333;
  line-height: 1.7;
  margin-bottom: 2rem; }
  p.nmb {
    margin-bottom: 0; }
  p.small {
    font-size: 1.4rem; }
  p.big {
    font-size: 1.8rem; }
  p.white {
    color: #fff; }

ul {
  margin: 0;
  padding: 0; }
  ul.bulletList {
    padding: 0 0 0 1.8rem; }
    ul.bulletList li {
      display: list-item;
      font-size: 1.5rem;
      line-height: 1.7;
      margin-bottom: .5rem; }
      ul.bulletList li:last-child {
        margin-bottom: 0; }
    ul.bulletList.alignRight {
      text-align: right;
      padding: 0 1.6rem 0 0; }
      ul.bulletList.alignRight li {
        direction: rtl; }
    ul.bulletList.white li {
      color: #fff; }
    ul.bulletList.primary li {
      color: #1c9bae; }
    ul.bulletList.extraMargin li {
      margin-bottom: 2rem; }

.numberList {
  padding-left: 2.2rem;
  list-style-position: outside; }
  .numberList li {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1rem; }
    .numberList li:last-child {
      margin-bottom: 0; }

.color-primary {
  color: #1c9bae !important; }

.color-secondary {
  color: #ec2929 !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.uppercase {
  text-transform: uppercase; }

.nouppercase {
  text-transform: none !important; }

.cursor {
  cursor: pointer; }

.h2 {
  font-size: 2.4rem;
  color: #555555;
  font-weight: 700;
  margin-bottom: .5rem; }

.h4 {
  font-size: 1.8rem;
  color: #555555;
  font-weight: 900;
  margin-bottom: .5rem; }

.h5 {
  font-size: 1.3rem;
  color: #555555;
  font-weight: 900;
  margin-bottom: .5rem; }

.p {
  font-size: 1.2rem;
  line-height: 1; }

.alert {
  position: relative;
  min-height: 1.6rem;
  margin: 1.6rem 0;
  line-height: 1.6rem;
  border-radius: .2rem;
  padding: 1.6rem 2rem;
  background: #f8f8f9;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  transition: opacity .1s ease,color .1s ease, background .1s ease, box-shadow .1s ease,-webkit-box-shadow .1s ease; }
  .alert-success {
    background-color: #fcfff5;
    color: #2c662d;
    -webkit-box-shadow: 0 0 0 .1rem #a3c293 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 .1rem #a3c293 inset, 0 0 0 0 transparent; }
  .alert-error {
    background-color: #fff6f6;
    color: #9f3a38;
    -webkit-box-shadow: 0 0 0 .1rem #e0b4b4 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 .1rem #e0b4b4 inset, 0 0 0 0 transparent; }
  .alert-warning {
    background-color: #fffaf3;
    color: #573a08;
    -webkit-box-shadow: 0 0 0 .1rem #c9ba9b inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 .1rem #c9ba9b inset, 0 0 0 0 transparent; }
  .alert-info {
    background-color: #f6faff;
    color: #386a9f;
    -webkit-box-shadow: 0 0 0 .1rem #b4c0e0 inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 .1rem #b4c0e0 inset, 0 0 0 0 transparent; }
  .alert-positioned {
    position: absolute;
    z-index: 9999;
    min-width: 50rem; }
    .alert-positioned.bottom {
      bottom: 4rem; }
    .alert-positioned.right {
      right: 4rem; }
    .alert-positioned.left {
      left: 4rem; }
    .alert-positioned.top {
      top: 4rem; }
    .alert-positioned.center {
      left: 50%;
      transform: translateX(-50%); }

.card {
  border: none;
  box-shadow: 0 0 10px 1px rgba(7, 36, 184, 0.06); }
  .card-body {
    padding: 4rem 6rem; }

.btn {
  display: inline-block;
  font-size: 1.5rem;
  border: none;
  line-height: 1;
  padding: 1.5rem 3rem;
  box-shadow: none;
  border-radius: 0;
  transition: all .4s ease-out; }
  .btn.btn-block {
    padding-left: 1rem;
    padding-right: 1rem; }
  .btn.elipse {
    border-radius: 25px; }
  .btn.rounded-3 {
    border-radius: 3px; }
  .btn.rounded-4 {
    border-radius: 4px; }
  .btn.rounded-5 {
    border-radius: 5px; }
  .btn.btn-sm {
    font-size: 1.4rem;
    padding: 1rem 2.5rem; }
  .btn.btn-lg {
    font-size: 1.8rem;
    padding: 1.7rem 4rem; }
  .btn.btn-primary {
    position: relative;
    z-index: 1;
    color: white;
    background: #1c9bae;
    box-shadow: none !important; }
    .btn.btn-primary:active {
      background: #1c9bae !important; }
    .btn.btn-primary:hover {
      background-color: #157482; }
  .btn.btn-secondary {
    background: #ec2929;
    color: #fff; }
    .btn.btn-secondary:hover {
      background: #c11a1a; }
  .btn.btn-default {
    background: #cdcdcd;
    color: #000; }
    .btn.btn-default:hover {
      background: #bfbfbf; }
  .btn.btn-border {
    color: #232323;
    border: solid #909090 1px; }
    .btn.btn-border:hover {
      color: white;
      background: #1c9bae;
      border-color: #1c9bae; }
  .btn.btn-border-primary {
    color: #1c9bae;
    border: solid #1c9bae 1px; }
    .btn.btn-border-primary:hover {
      color: white;
      background: #1c9bae; }
  .btn.btn-border-white {
    color: #fff;
    border: solid #fff 1px; }
    .btn.btn-border-white.rounded {
      border-radius: 2.5rem; }
    .btn.btn-border-white:hover {
      background: #fff;
      color: #222; }
  .btn.btn-dark {
    color: #fff;
    background: #676767; }
    .btn.btn-dark:hover {
      background: #232323; }
  .btn.btn-white {
    color: #333;
    background: #fff; }
    .btn.btn-white:hover {
      color: #fff;
      background: #1c9bae; }

.custom-form {
  padding: 0; }
  .custom-form .form-group {
    margin-bottom: 2.5rem; }
  .custom-form label {
    font-size: 1.5rem;
    margin: 0 0 .5rem; }
  .custom-form .form-control {
    height: auto;
    font-size: 1.5rem;
    padding: 1rem 1.5rem; }

.headingBox {
  padding: 2rem 2.5rem;
  background: #f6f6f6;
  border-bottom: 1px solid #e6e8eb; }
  .headingBox.white {
    background: white; }
  .headingBox.nopadding {
    padding: 0; }
  .headingBox.mb_sm {
    margin-bottom: 2.5rem; }
  .headingBox.mb_md {
    margin-bottom: 4rem; }
  .headingBox.mb_lg {
    margin-bottom: 8rem; }
  .headingBox.left {
    text-align: left; }
  .headingBox h1, .headingBox h2, .headingBox h3, .headingBox h4, .headingBox h5, .headingBox h6 {
    margin-bottom: 1rem; }
  .headingBox p {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 0; }

.size56 {
  font-size: 5.6rem; }

.size50 {
  font-size: 5rem; }

.size45 {
  font-size: 4.5rem; }

.size40 {
  font-size: 4rem; }

.size36 {
  font-size: 3.6rem; }

.size30 {
  font-size: 3rem; }

.size27 {
  font-size: 2.7rem; }

.size24 {
  font-size: 2.4rem; }

.size21 {
  font-size: 2.1rem; }

.size18 {
  font-size: 1.8rem; }

.centerLoader {
  display: flex;
  padding: 2rem 0;
  justify-content: center; }

.noRecordsFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0; }
  .noRecordsFound img {
    display: block;
    margin-bottom: 2rem; }
  .noRecordsFound h3 {
    font-size: 2.1rem;
    color: #1c9bae;
    font-weight: normal;
    margin: 0; }

.paginationWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end; }
  .paginationWrapper .semantic-ui-react-button-pagination {
    display: flex; }
    .paginationWrapper .semantic-ui-react-button-pagination .button {
      margin-left: 4px;
      font-size: 1.5rem;
      border: 1px solid #ddd;
      background-color: #fff; }
      .paginationWrapper .semantic-ui-react-button-pagination .button:first-child {
        margin-left: 0;
        border-left: 1px solid #ddd; }
      .paginationWrapper .semantic-ui-react-button-pagination .button.currentPage {
        background-color: #1c9bae;
        color: white; }

.section {
  padding: 6rem 0; }
  .section.nopadding {
    padding: 0 !important; }
  .section.nopadding--top {
    padding-top: 0 !important; }
  .section.nopadding--bottom {
    padding-bottom: 0 !important; }
  .section.sm {
    padding: 4rem 0; }
  .section.md {
    padding: 5rem 0; }
  .section.xl {
    padding: 8rem 0; }
  .section.xxl {
    padding: 10rem 0; }
  .section.white {
    background: white; }
  .section.dark {
    background: #353535; }
  .section.primary {
    background: #1c9bae; }
  .section.secondary {
    background: #ec2929; }
  .section.light {
    background: #f9fafc; }
  .section.light__grey {
    background: #dee2e2; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1c9bae;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.lds-spinner {
  color: #1c9bae;
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto; }

.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #1c9bae; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.tabBox {
  padding: 0; }
  .tabBox .ui.segment {
    padding: 0;
    box-shadow: 0;
    border: none; }

.custom-table {
  margin: 0;
  font-size: 1.5rem; }
  .custom-table th, .custom-table td {
    padding: 1.5rem;
    border: none;
    vertical-align: middle; }
  .custom-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f7fd; }

.mainHeader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  background: #1c9bae;
  justify-content: space-between; }
  .mainHeader__logo {
    display: flex;
    align-items: center;
    background-color: #fff; }
    .mainHeader__logo a {
      display: block;
      padding: 2rem;
      max-width: 26rem;
      min-height: 8.5rem; }
  .mainHeader__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem; }
    .mainHeader__links a {
      display: block;
      font-size: 1.5rem;
      color: white;
      padding: 0 1rem;
      line-height: 4rem; }
      .mainHeader__links a:hover i {
        margin-left: .2rem; }

.fixedMenu {
  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 1;
  width: 30rem;
  background: white;
  height: calc(100vh - 6rem);
  box-shadow: 0.4rem 0 0.8rem 0.2rem rgba(0, 0, 0, 0.05); }
  @media (max-width: 1440px) {
    .fixedMenu {
      width: 26rem; } }

.leftMenu {
  display: flex;
  width: 100%;
  margin: 0;
  overflow-Y: auto;
  flex-direction: column;
  height: 100%; }
  .leftMenu:first-child {
    padding: 2rem 0; }
  .leftMenu li {
    position: relative;
    z-index: 1;
    padding: 0;
    transition: none; }
    .leftMenu li:before {
      display: none; }
    .leftMenu li a {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      padding: 2rem 2.5rem;
      color: #333;
      border-left: 4px solid transparent; }
    .leftMenu li:hover a {
      border-color: #1c9bae;
      background-color: #f1f1f1; }
    .leftMenu li.active a {
      border-color: #1c9bae;
      background-color: #f1f1f1; }
    .leftMenu li .dropdown {
      padding: 0;
      background: white; }
      .leftMenu li .dropdown .item {
        display: flex;
        background: white;
        color: #333;
        padding: 1rem 1rem 1rem 6.5rem;
        border-right: 3px solid transparent; }
        .leftMenu li .dropdown .item:before {
          width: 0; }
        .leftMenu li .dropdown .item i.icon {
          width: 2.6rem;
          height: 2.6rem;
          margin-right: 1.5rem; }
        .leftMenu li .dropdown .item .content {
          width: auto;
          flex-grow: 1;
          flex-basis: auto; }
        .leftMenu li .dropdown .item:hover {
          background: #f4f9ff;
          border-right-color: #2185d0; }
          .leftMenu li .dropdown .item:hover i.icon {
            background-image: url("/img/menu_sprite.png"); }

.toggleMenuBox {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 50px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  background-color: #fff; }
  .toggleMenuBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    background-color: #e5edf7;
    transition: all .2s ease-out; }
  .toggleMenuBox .icon {
    flex-shrink: 0;
    flex-basis: 70px;
    text-align: center; }
    .toggleMenuBox .icon svg {
      width: 1.6rem;
      opacity: 0.6; }
  .toggleMenuBox .text {
    font-size: 1.3rem;
    flex-grow: 1;
    flex-basis: auto; }
  .toggleMenuBox:hover::before {
    width: 100%; }

.folded .fixedMenu {
  width: auto; }

.folded ul#mainMenu.mainMenu {
  overflow: inherit; }
  .folded ul#mainMenu.mainMenu li a {
    position: relative;
    z-index: 1;
    width: 6rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    .folded ul#mainMenu.mainMenu li a .content {
      position: absolute;
      top: 0;
      left: 100%;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      background: white;
      min-width: 18rem;
      padding: 2rem 2rem 1.9rem;
      transform: translateX(-2rem);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05); }
    .folded ul#mainMenu.mainMenu li a i.icon {
      margin: 0 auto; }
  .folded ul#mainMenu.mainMenu li:hover a .content {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all .4s ease-in-out; }
  .folded ul#mainMenu.mainMenu li .dropdown {
    position: absolute;
    top: 0;
    left: 24rem;
    min-width: 18rem;
    background: white;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05); }
    .folded ul#mainMenu.mainMenu li .dropdown a {
      width: auto;
      padding: 0; }
      .folded ul#mainMenu.mainMenu li .dropdown a i {
        display: none; }
      .folded ul#mainMenu.mainMenu li .dropdown a .content {
        position: static;
        opacity: 1;
        padding: 2rem;
        box-shadow: none;
        visibility: visible; }
        .folded ul#mainMenu.mainMenu li .dropdown a .content:hover {
          background: #e5edf7; }
  .folded ul#mainMenu.mainMenu li::after {
    display: none; }

.folded .toggleMenuBox .icon {
  flex-basis: 6rem; }

.folded .toggleMenuBox .text {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0 20px;
  line-height: 6rem;
  background: white;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden; }

.container {
  width: 100%;
  max-width: 1280px; }

.mainFooter {
  padding: 1rem;
  color: white;
  background-color: #232323; }

.floatFooterBottom {
  min-height: calc(100vh - 127px); }

.loginBox {
  position: relative;
  z-index: 1; }
  .loginBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #ddd; }
  .loginBox .form {
    padding-right: 4rem; }
  .loginBox .content {
    padding: 2rem 0 2rem 4rem; }
    .loginBox .content ul {
      list-style: none; }
      .loginBox .content ul li {
        position: relative;
        z-index: 1;
        display: flex;
        padding-left: 2rem;
        margin-bottom: 1rem; }
        .loginBox .content ul li:before {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: .8rem;
          height: .8rem;
          background-color: #1c9bae;
          border-radius: 50%; }

.dashboard {
  position: relative;
  z-index: 1;
  display: flex; }
  .dashboard__menu {
    flex-shrink: 1;
    flex-basis: 26rem;
    min-width: 26rem;
    background-color: white;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.03); }
  .dashboard__content {
    flex-grow: 1;
    padding: 3rem;
    flex-basis: auto; }

.profileBox {
  position: relative;
  display: flex;
  align-items: center; }
  .profileBox__picture {
    position: relative;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ddd; }
    .profileBox__picture img {
      width: 8rem;
      min-height: 8rem; }
    .profileBox__picture .updatePic {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.2rem;
      color: white;
      text-align: center;
      padding-top: .5rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.7);
      transform: translateY(100%);
      transition: all .4s ease-out; }
    .profileBox__picture:hover .updatePic {
      transform: translateY(0); }
  .profileBox__info {
    padding-left: 3rem; }
    .profileBox__info .name {
      font-size: 2.4rem; }

.documentBox .btn-sm {
  font-size: 1.3rem;
  padding: .7rem 1.2rem;
  border-radius: 3px; }

.instructionsBox {
  position: relative;
  z-index: 1;
  padding: 3rem;
  background: #f8f7fd; }
  .instructionsBox .timer {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1.2rem 3rem;
    border-radius: 2.5rem;
    background-color: #e4dff6; }

.quizzeProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1rem;
  background-color: #ddd; }
  .quizzeProgressBar .progress {
    height: 1rem;
    background-color: #1c9bae; }

.quizzeQuestions {
  padding: 0;
  list-style: none; }
  .quizzeQuestions li {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem; }
    .quizzeQuestions li label {
      font-size: 1.7rem;
      margin: 0;
      display: flex;
      cursor: pointer;
      align-items: center; }
    .quizzeQuestions li input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .quizzeQuestions li .icon {
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem;
      border-radius: 50%;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center; }
      .quizzeQuestions li .icon:before {
        display: block;
        content: '';
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: #1c9bae;
        transform: scale(0);
        opacity: 0;
        transition: all .1s ease-out; }
    .quizzeQuestions li input:checked ~ .icon {
      border-color: #1c9bae; }
      .quizzeQuestions li input:checked ~ .icon:before {
        transform: scale(1);
        opacity: 1; }
  .quizzeQuestions.typeImage {
    display: flex; }
    .quizzeQuestions.typeImage li {
      margin-left: 2rem; }
      .quizzeQuestions.typeImage li:first-child {
        margin-left: 0; }
      .quizzeQuestions.typeImage li label {
        display: block; }
      .quizzeQuestions.typeImage li .image {
        display: block;
        width: 150px;
        height: 150px;
        border: 1px solid #ddd; }
      .quizzeQuestions.typeImage li .icon {
        margin: 1.5rem auto 0; }

.quizzeTimer {
  position: absolute;
  top: 6rem;
  right: 4rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #e4dff6; }
  .quizzeTimer span {
    display: block; }
    .quizzeTimer span.timeLeft {
      font-size: 2.4rem; }
