    
    <footer class="mainFooter">
        <div class="container">
            <div class="mainFooter__links">
                <div class="row justify-content-between">
                    <div class="col-lg-2 col-md-3">
                        <h5 class="barlow-condensed">Headquaters</h5>
                        <p>G 45, ground floor, <br />
                            Green Park, <br />
                            New Delhi
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="barlow-condensed">quick links</h5>
                        <ul class="navs">
                            <li><a href="#!">About us</a></li>
                            <li><a href="#!">Membership</a></li>
                            <li><a href="#!">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="barlow-condensed">&nbsp;</h5>
                        <ul class="navs adjusted">
                            <li><a href="#!">Locations</a></li>
                            <li><a href="#!">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="barlow-condensed">services</h5>
                        <ul class="navs">
                            <li><a href="#!">Hair</a></li>
                            <li><a href="#!">Make up</a></li>
                            <li><a href="#!">Beauty</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="mainFooter__socials">
                            <a href="#!"><i class="fab fa-instagram"></i> <span>Instagram</span></a>
                            <a href="#!"><i class="fab fa-facebook"></i> <span>Facebook</span></a>
                        </div>
                    </div>
                </div>
            </div> <!--// .mainFooter__links::END \\-->

            <div class="mainFooter__copyrights">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <p>Copyright © 2019 by BelloJewels. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <p class="right">Website by <a href="#!">Seahawk</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer> <!-- // .mainFooter::END \\ -->