.custom-form {
	padding: 0;

	.field {
		margin-bottom: 2rem;

		label {
			font-weight: 600;
		}
		.input input,
		.selection {
			font-size: $font-size-default;
			line-height: 2.6rem;
			padding: 1rem 2rem;
			border-color: #cccccc;
			border-radius: 0 !important;

			.icon {
				top: 1.3rem;
			}
		}
		.prompt.label {
			font-weight: 700;
			font-size: 1.2rem;
		}
		.errorMsg {
			display: block;
			font-size: 1.3rem;
			color: red;
			text-align: right;
		}
	}
}
