.mainHeader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;    
    display: flex;
    align-items: center;
    background: $color-primary;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        background-color: $color-white;

        a {
            display: block;
            padding: 2rem;
            max-width: 26rem;
            min-height: 8.5rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4rem;

        a {
            display: block;
            font-size: $normal-font-size;
            color: white;
            padding: 0 1rem;
            line-height: 4rem;

            &:hover {
                i { margin-left: .2rem; }
            }
        }
    }
}