// COLORS
$color-primary: #27397c;
$color-secondary: #F06212;
$color-tertiary: #257A33;

$color-light1: #f7f7f7;
$color-light2: #eee;
$color-dark1: #999;
$color-dark2: #666;
$color-dark3: #333;
$color-green: #00a900;
$color-red: #ff0000;
$color-white: #fff;
$color-black: #000;

// FONT FAMILY
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'DM Mono', monospace;

// FONT SIZES
$font-size-default: 1.4rem;
$font-size-tiny: 1.1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-big: 1.8rem;

// FONT WEIGHT
$font-weight-normal: normal;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// VIEWPORTS
$macbook: 1440px;
$laptop: 1336px;
$desktop-small: 1280px;
$tablet-big: 1024px;
$tablet: 992px;
$table-small: 768px;
$mobile-start: 767px;
$mobile-big: 576px;
$mobile: 480px;
$mobile-small: 375px;
$mobile-extra-small: 320px;

// Customs
$box-shadow-default: 0 0 10px 2px rgba(black, 0.07);
$box-shadow-bottom: 0 5px 10px 2px rgba(black, 0.07);
$box-shadow-right: 5px 0 10px 2px rgba(black, 0.07);
$line-height-default: 1.4;