// Buttons
.btn {
	display: inline-block;
	font-size: $normal-font-size;
	border: none;
	line-height: 1;
	padding: 1.5rem 3rem;
	box-shadow: none;
	border-radius: 0;
	transition: all .4s ease-out;
	
	&.btn-block {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	// Rounded
	&.elipse {
		border-radius: 25px;
	}
	&.rounded-3 {
		border-radius: 3px;
	}
	&.rounded-4 {
		border-radius: 4px;
	}
	&.rounded-5 {
		border-radius: 5px;
	}

	// Buttons Sizes
	&.btn-sm {
		font-size: 1.4rem;
		padding: 1rem 2.5rem;
	}
	&.btn-lg {
		font-size: 1.8rem;
		padding: 1.7rem 4rem;
	}
	
	// Buttons Colors
	&.btn-primary {
		position: relative;
		z-index: 1;
		color: white;
		background: $color-primary;
		box-shadow: none !important;

		&:active {
			background: $color-primary !important;
		}
		
		&:hover {
			background-color: darken($color: $color-primary, $amount: 10%);
			
		}
	}
	&.btn-secondary {
		background: $color-secondary;
		color:#fff;
		
		&:hover {
			background: $color-secondary-dark;
		}
	}
	&.btn-default {
		background: #cdcdcd;
		color: #000;
		
		&:hover {
			background: #bfbfbf;
		}
	}
	&.btn-border {
		color:#232323;
		border:solid #909090 1px;
		
		&:hover {
			color: white;
			background:$color-primary;
			border-color: $color-primary;
		}
	}
	&.btn-border-primary {
		color: $color-primary;
		border:solid $color-primary 1px;
		
		&:hover {
			color: white;
			background:$color-primary;
		}
	}
	&.btn-border-white {
		color:#fff;
		border:solid #fff 1px;
		
		&.rounded {
			border-radius: 2.5rem;
		}
		
		&:hover {
			background:#fff;
			color:#222;
		}
	}
	
	&.btn-dark {
		color:#fff;
		background: #676767;
		
		&:hover {
			background: #232323;
		}
	}
	
	&.btn-white {
		color:#333;
		background:#fff;
		
		&:hover {
			color:#fff;
			background:$color-primary;
		}
	}
}