.custom-form {
    padding: 0;

    .form-group {
        margin-bottom: 2.5rem;   
    }

    label {
        font-size: $normal-font-size;
        margin: 0 0 .5rem;
    }
    .form-control {
        height: auto;
        font-size: $normal-font-size;
        padding: 1rem 1.5rem;
    }
}