// Default Heading
.headingBox {
	padding: 2rem 2.5rem;
	background: #f6f6f6;
	border-bottom: 1px solid #e6e8eb;

	&.white { background: white; }
	&.nopadding { padding: 0; }

	&.mb_sm { margin-bottom: 2.5rem; }
	&.mb_md { margin-bottom: 4rem; }
	&.mb_lg { margin-bottom: 8rem; }

	&.left { text-align: left; }

	h1, h2, h3, h4, h5, h6 { margin-bottom: 1rem; }

	p {
		font-size: 1.8rem;
		line-height: 1.7;
		margin-bottom: 0;
	}
}

// Headings
.size56 { font-size: 5.6rem; }
.size50 { font-size: 5rem; }
.size45 { font-size: 4.5rem; }
.size40 { font-size: 4rem; }
.size36 { font-size: 3.6rem; }
.size30 { font-size: 3rem; }
.size27 { font-size: 2.7rem; }
.size24 { font-size: 2.4rem; }
.size21 { font-size: 2.1rem; }
.size18 { font-size: 1.8rem; }