.paginationWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .semantic-ui-react-button-pagination {
        display: flex;

        .button {
            margin-left: 4px;
            font-size: $normal-font-size;
            border: 1px solid #ddd;
            background-color: #fff;

            &:first-child { margin-left: 0; border-left: 1px solid #ddd; }

            &.currentPage { background-color: $color-primary; color: white; }
        }
    }
}